       <!--navbar start-->
       <section>
        <div class="nav-bar">
    <div class="left-part">
        <div class="logo-box">
            <i class='bx bxs-truck main-logo'></i>
            <span>TRUCKER</span>
        </div>
        <div class="location-selector">
            <mat-icon> place</mat-icon>
            <select>
                <option >Vishakapatnam</option>
                <option >Delhi</option>
                <option >Banglore</option>
                <option >Hyderabad</option>
              </select>
        </div>
    </div>
        <ul class="nav-links right-part">
            <li ><button class="nav-button-1">FOR SUPPLIERS</button></li>
            <li ><button class="nav-button-2">FOR TRUCKERS</button></li>
            <li ><button class="nav-button-3"(click)="openDialog()">LOGIN</button></li>
            <li ><button class="nav-button-4" (click)="openPostForm()">POST REQUIREMENT</button></li>
        </ul>
    </div>
    </section>
       <!--navbar end-->
       <!-- <app-dashboard></app-dashboard> -->