<div class="main-part">
    <mat-tab-group>
        <mat-tab label="My deliveries">
            <div class="first-section">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <div class="img-box">
                            <img src="../../../assets/lorry-photo-1.jpg">
                        </div>
                        <div class="card-main-matter">
                            <h4>Steam Coal<span>/Coal</span></h4>
                            <div class="destination-details">
                                <mat-icon> place</mat-icon>
                                <p>gajuwaka,visakapatnam</p>
                                <mat-icon class="maximize">maximize</mat-icon>
                                <span>691 KM</span>
                                <mat-icon>arrow_right_alt</mat-icon>
                                <mat-icon> place</mat-icon>
                                <p>Old Bus stand area, Kurnool</p>
                            </div>
                            <div class="material-details">
                                <div class="Quantity">
                                    <mat-icon>card_travel</mat-icon>
                                    <div>
                                        <h4>Quantity</h4>
                                        <p>70 Tons</p>
                                    </div>
                                </div>
                                <div class="value">
                                    <mat-icon>card_travel</mat-icon>
                                    <div>
                                        <h4>Material value</h4>
                                        <p>30.42L</p>
                                    </div>
                                </div>
                                <div class="handling">
                                    <mat-icon>card_travel</mat-icon>
                                    <div>
                                        <h4>Handling</h4>
                                        <p>Fragile</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- <hr> -->
                    <div class="card-footer">
                        <p>Posted on 07 Mar,2020</p>
                        <h4>RAMARAJU</h4>
                    </div>
                </div>
            </div>
        </div>
            <div class="quotes-sec">
<h5> 5 QUOTES RECEIVED</h5>
<div class="quotes-rec" >
     
    </div>
            </div>

        </mat-tab>
        <mat-tab label="My orders">

        </mat-tab>
        <mat-tab label="Transactions">
        </mat-tab>
    </mat-tab-group>

</div>