.main-form{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    border: 2px solid black;
    width: 80%;
}
  .form-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
  }
  ::ng-deep .mat-mdc-text-field-wrapper {
    width: 100% !important;
    margin-top: 5px;
}